USE KIPP_NJ
GO

ALTER VIEW ILLUMINATE$writing_scores_long#ES AS

WITH raw_data AS (
  SELECT sub.repository_id
        ,sub.academic_year
        ,sub.title        
        ,repo.student_id AS student_number                        
        ,repo.repository_row_id        
        ,sub.field
        ,repo.value
  FROM
      (
       SELECT DISTINCT 
              a.repository_id
             ,a.academic_year
             ,a.title
             ,fields.label AS field 
             ,fields.name
       FROM ILLUMINATE$summary_assessments#static a WITH(NOLOCK)  
       JOIN ILLUMINATE$repository_fields fields WITH(NOLOCK)
         ON a.repository_id = fields.repository_id     
       WHERE a.scope = 'Interim Assessment'
         AND a.subject = 'Writing'
         AND a.GRADE_LEVEL < 5                  
      ) sub
  LEFT OUTER JOIN ILLUMINATE$summary_assessment_results_long#static repo WITH(NOLOCK)
      ON sub.repository_id = repo.repository_id
     AND repo.field = sub.name 
 )

,test_metadata AS (
  SELECT student_number
        ,repository_row_id
        ,repository_id
        ,title
        ,sub.academic_year
        ,date_administered        
        ,assmt_notes
        ,writing_type
        ,total_points
        ,total_prof
  FROM
      (
       SELECT student_number             
             ,repository_id
             ,title
             ,repository_row_id
             ,academic_year
             ,COALESCE([Date of Administration],[Date Administered]) AS date_administered
             ,[Anecdotal Notes] AS assmt_notes
             ,[Writing Type] AS writing_type
             ,[Total Points] AS total_points
             ,STUFF([Total Proficiency], 3, 0, '= ') AS total_prof
       FROM raw_data rw WITH(NOLOCK)       
       PIVOT(
         MAX(value)
         FOR field IN ([Date of Administration],[Date Administered],[Anecdotal Notes],[Writing Type],[Total Points],[Total Proficiency])
        ) p
      ) sub  
 )

SELECT student_number
      ,repository_id
      ,title
      ,repository_row_id
      ,term
      ,date_administered
      ,writing_type
      ,total_points
      ,total_prof
      ,assmt_notes
      ,writing_obj
      ,score
      ,proficiency
      ,prof_numeric
      ,'writing_obj_' + CONVERT(VARCHAR,
                          ROW_NUMBER() OVER(
                            PARTITION BY student_number, repository_row_id
                              ORDER BY writing_obj ASC)) AS pivot_hash_obj
      ,'writing_prof_' + CONVERT(VARCHAR,
                          ROW_NUMBER() OVER(
                            PARTITION BY student_number, repository_row_id
                              ORDER BY writing_obj ASC)) AS pivot_hash_prof
FROM
    (
     SELECT student_number
           ,repository_id
           ,title
           ,repository_row_id
           ,writing_obj
           ,MAX(term) AS term
           ,MAX(date_administered) AS date_administered
           ,MAX(writing_type) AS writing_type
           ,MAX(total_points) AS total_points
           ,MAX(total_prof) AS total_prof
           ,MAX(assmt_notes) AS assmt_notes           
           ,MAX(score) AS score
           ,MAX(proficiency) AS proficiency
           ,MAX(prof_numeric) AS prof_numeric      
     FROM
         (
          SELECT student_number      
                ,repository_id
                ,title
                ,repository_row_id
                ,term
                ,date_administered
                ,writing_type      
                ,total_points
                ,total_prof
                ,assmt_notes
                ,writing_obj
                ,[score]
                ,[proficiency]
                ,LEFT([proficiency],1) AS prof_numeric

          FROM 
              (
               SELECT md.student_number                 
                     ,md.repository_id
                     ,md.title
                     ,md.repository_row_id
                     ,dt.alt_name AS term
                     ,md.date_administered
                     ,md.writing_type
                     ,md.assmt_notes           
                     ,md.total_points
                     ,md.total_prof
                     ,scores.field
                     ,LTRIM(RTRIM(LEFT(scores.field,CHARINDEX(CASE 
                                                               WHEN scores.field LIKE '%score' THEN 'Score' 
                                                               WHEN scores.field LIKE '%points' THEN 'points' 
                                                               WHEN scores.field LIKE '%proficiency'THEN 'Proficiency' 
                                                               ELSE NULL 
                                                              END, scores.field) - 1))) AS writing_obj
                     ,CASE 
                       WHEN scores.field LIKE '%score' THEN 'Score' 
                       WHEN scores.field LIKE '%points' THEN 'Score' 
                       WHEN scores.field LIKE '%proficiency'THEN 'Proficiency' 
                       ELSE NULL 
                      END AS measure
                     ,CASE WHEN scores.field LIKE '%proficiency%' THEN STUFF(scores.value, 3, 0, '= ') ELSE scores.value END AS value
                     ,CASE WHEN scores.field LIKE '%proficiency%' THEN LEFT(scores.value, 1) ELSE scores.value END AS numeric_score
               FROM test_metadata md WITH(NOLOCK)
               LEFT OUTER JOIN REPORTING$dates dt WITH(NOLOCK)
                 ON md.date_administered >= dt.start_date
                AND md.date_administered <= dt.end_date
                AND md.academic_year = dt.academic_year
                AND dt.identifier = 'RT'
                AND dt.schoolid = 73254   
               JOIN raw_data scores WITH(NOLOCK)
                 ON md.student_number = scores.student_number
                AND md.repository_row_id = scores.repository_row_id
                AND scores.field NOT IN ('Date of Administration','Anecdotal Notes','Writing Type','Total Points','Total Proficiency','Date Administered')               
              ) sub
          PIVOT(
            MAX(value)
            FOR measure IN ([score], [proficiency])
           ) p
         ) sub
     GROUP BY student_number
             ,repository_id
             ,title
             ,repository_row_id
             ,writing_obj
    ) sub