USE KIPP_NJ
GO

ALTER VIEW LIT$individual_goals AS

WITH gdoc_long AS (
  SELECT student_number
        ,academic_year        
        ,UPPER(LEFT(field, CHARINDEX('_', field) - 1)) AS test_round
        ,LTRIM(RTRIM(REPLACE(REPLACE(REPLACE(goal, '_', ' '),'STEP',''),'FP',''))) AS goal
  FROM 
      (
       SELECT CONVERT(INT,[SN]) AS student_number
             ,CONVERT(INT,academic_year) AS academic_year
             ,CONVERT(VARCHAR,[diagnostic_goal]) AS [diagnostic_goal]
             ,CONVERT(VARCHAR,[q1_goal]) AS [q1_goal]
             ,CONVERT(VARCHAR,[q2_goal]) AS [q2_goal]
             ,CONVERT(VARCHAR,[q3_goal]) AS [q3_goal]
             ,CONVERT(VARCHAR,[q4_goal]) AS [q4_goal]
       FROM [KIPP_NJ].[dbo].[AUTOLOAD$GDOCS_LIT_Goals] WITH(NOLOCK)
       WHERE sn IS NOT NULL
         AND CONCAT(diagnostic_goal,q1_goal,q2_goal,q3_goal,q4_goal) != ''

       UNION

       SELECT SN AS student_number
             ,academic_year        
             ,[diagnostic_goal]
             ,[q1_goal]
             ,[q2_goal]
             ,[q3_goal]
             ,[q4_goal]
       FROM KIPP_NJ..LIT$individual_goals#archive WITH(NOLOCK)
      ) sub
  UNPIVOT (
    goal
    FOR field IN ([diagnostic_goal]
                 ,[q1_goal]
                 ,[q2_goal]
                 ,[q3_goal]
                 ,[q4_goal])
   ) u
 )

SELECT s.schoolid
      ,s.studentid      
      ,g.student_number
      ,g.academic_year
      ,CASE         
        WHEN g.academic_year <= 2014 AND g.test_round = 'Q4' THEN 'EOY'
        WHEN g.academic_year <= 2014 AND g.test_round IN ('Q1','Q2','Q3') THEN REPLACE(g.test_round,'Q','T')
        ELSE REPLACE(g.test_round,'DIAGNOSTIC','DR') 
       END AS test_round
      ,g.goal      
      ,CASE 
        WHEN gleq.testid = 3273 THEN gleq.fp_lvl_num /* when F&P, use F&P number */
        ELSE gleq.lvl_num
       END AS lvl_num
FROM gdoc_long g
JOIN COHORT$identifiers_long#static s WITH(NOLOCK)
  ON g.student_number = s.STUDENT_NUMBER
 AND g.academic_year = s.year
 AND s.rn = 1
LEFT OUTER JOIN KIPP_NJ..AUTOLOAD$GDOCS_LIT_gleq gleq WITH(NOLOCK)
  ON g.goal = gleq.read_lvl