/*
--to examine the queue
SELECT *
FROM KIPP_NJ..email$template_queue
ORDER BY id

--to push a job into the queue for the first time
INSERT INTO KIPP_NJ..email$template_queue
  (job_name
  ,run_type
  ,send_at)
VALUES
 ('Recruitment: Interested but Not Applied'
 ,'auto'
 ,'2013-10-07 09:35:00.000')

--to delete from the queue
DELETE 
FROM KIPP_NJ..email$template_queue
WHERE id = 22


--to send a job as a test
DECLARE @fake NVARCHAR(4000)
BEGIN
  EXEC dbo.sp_EMAIL$send_template_job
    @job_name = 'Recruitment: Interested but Not Applied'
   ,@send_again = @fake OUTPUT
END

*/

USE KIPP_NJ
GO

DECLARE @this_job_name      NCHAR(100) = 'Recruitment: Interested but Not Applied'
       
BEGIN

MERGE KIPP_NJ..EMAIL$template_jobs AS TARGET
USING 
  (VALUES 
     ( --'amartin@teamschools.org.'
       'malderman@teamschools.org;tdesimon@teamschools.org'
       ,'KIPP Careers: Interested but Not Applied, past 14 Days'
       --figure out SEND AGAIN
       ,'DATEADD(DAY, 14, GETDATE())'
       ,1
        --stat query 1
       ,'SELECT COUNT(*) AS N
          FROM KIPPCareersMirror..Contact app
          JOIN KIPPCareersMirror..Account acct
            ON app.AccountId = Acct.Id
          WHERE app.KIPP_Regions_of_Interest__c LIKE ''%Newark%''
            AND app.Regions_Applied_To__c NOT LIKE ''%Newark%''
            AND DATEDIFF(day, app.CreatedDate, GETDATE()) < 14
        '
        --stat query 2
       ,' '
         --stat query 3
        ,' '
         --stat query 4
        ,' '
         --stat labels 1-4
        ,'Applicant Count'
        ,' '
        ,' '
        ,' '
        --image stuff
        ,0
        --dynamic filepath
        ,' '
        ,' '
        --regular text (use single space for nulls)
        ,'This table shows applicants in KIPP Careers who have indicated interest in Newark, but not yet applied.  Time window is the past 14 days.'
        ,' '
        ,' '
        ,' '
        --csv stuff
        ,'On'
        ,'SELECT acct.Name
                ,acct.BillingCity AS city
                ,app.Regions_Applied_To__c AS applied_to
                ,app.KIPP_Regions_of_Interest__c AS interested_in
                ,app.Email
                ,app.Title
                ,app.Current_Employer__c AS cur_employer
                ,CAST(app.Years_of_Teaching_Experience__c AS NVARCHAR) AS tch_exp
                ,app.Teacher_Prep_Program_Name__c AS prep_program
          FROM KIPPCareersMirror..Contact app
          JOIN KIPPCareersMirror..Account acct
            ON app.AccountId = Acct.Id
          WHERE app.KIPP_Regions_of_Interest__c LIKE ''%Newark%''
            AND app.Regions_Applied_To__c NOT LIKE ''%Newark%''
            AND DATEDIFF(day, app.CreatedDate, GETDATE()) < 14
          '
        --table query 1
        ,'SELECT acct.Name
                ,acct.BillingCity AS city
                ,app.Regions_Applied_To__c AS applied_to
                ,app.KIPP_Regions_of_Interest__c AS interested_in
                ,app.Email
                ,app.Title
                ,app.Current_Employer__c AS cur_employer
                ,CAST(app.Years_of_Teaching_Experience__c AS NVARCHAR) AS tch_exp
                ,app.Teacher_Prep_Program_Name__c AS prep_program
          FROM KIPPCareersMirror..Contact app
          JOIN KIPPCareersMirror..Account acct
            ON app.AccountId = Acct.Id
          WHERE app.KIPP_Regions_of_Interest__c LIKE ''%Newark%''
            AND app.Regions_Applied_To__c NOT LIKE ''%Newark%''
            AND DATEDIFF(day, app.CreatedDate, GETDATE()) < 14
          '
          --table query 2
         ,' '
          --table query 3
         ,' '
          --table style parameters
         ,'CSS_small'
         ,' '
         ,' '
     )
  ) AS SOURCE
  (  [email_recipients]
    ,[email_subject]
    ,[send_again]
    ,[stat_count]
    ,[stat_query1]
    ,[stat_query2]
    ,[stat_query3]
    ,[stat_query4]
    ,[stat_label1]
    ,[stat_label2]
    ,[stat_label3]
    ,[stat_label4]
    ,[image_count]
    ,[image_path1]
    ,[image_path2]
    ,[explanatory_text1]
    ,[explanatory_text2]
    ,[explanatory_text3]
    ,[explanatory_text4]
    ,[csv_toggle]
    ,[csv_query]
    ,[table_query1]
    ,[table_query2]
    ,[table_query3]
    ,[table_style1]
    ,[table_style2]
    ,[table_style3]
  )
  ON target.job_name = @this_job_name

WHEN MATCHED THEN
  UPDATE
    SET target.email_recipients = source.email_recipients
       ,target.email_subject    = source.email_subject
       ,target.send_again =  source.send_again
       ,target.stat_count =  source.stat_count
       ,target.stat_query1 =  source.stat_query1
       ,target.stat_query2 =  source.stat_query2
       ,target.stat_query3 =  source.stat_query3
       ,target.stat_query4 =  source.stat_query4
       ,target.stat_label1 =  source.stat_label1
       ,target.stat_label2 =  source.stat_label2
       ,target.stat_label3 =  source.stat_label3
       ,target.stat_label4 =  source.stat_label4
       ,target.image_count =  source.image_count
       ,target.image_path1 =  source.image_path1
       ,target.image_path2 =  source.image_path2
       ,target.explanatory_text1 =  source.explanatory_text1
       ,target.explanatory_text2 =  source.explanatory_text2
       ,target.explanatory_text3 =  source.explanatory_text3
       ,target.explanatory_text4 =  source.explanatory_text4
       ,target.csv_toggle =  source.csv_toggle
       ,target.csv_query =  source.csv_query
       ,target.table_query1 =  source.table_query1
       ,target.table_query2 =  source.table_query2
       ,target.table_query3 =  source.table_query3
       ,target.table_style1 =  source.table_style1
       ,target.table_style2 =  source.table_style2
       ,target.table_style3 =  source.table_style3
WHEN NOT MATCHED THEN
   INSERT
   (  [job_name]
     ,[email_recipients]
     ,[email_subject]
     ,[send_again]
     ,[stat_count]
     ,[stat_query1]
     ,[stat_query2]
     ,[stat_query3]
     ,[stat_query4]
     ,[stat_label1]
     ,[stat_label2]
     ,[stat_label3]
     ,[stat_label4]
     ,[image_count]
     ,[image_path1]
     ,[image_path2]
     ,[explanatory_text1]
     ,[explanatory_text2]
     ,[explanatory_text3]
     ,[explanatory_text4]
     ,[csv_toggle]
     ,[csv_query]
     ,[table_query1]
     ,[table_query2]
     ,[table_query3]
     ,[table_style1]
     ,[table_style2]
     ,[table_style3]
   )
   VALUES
   (  @this_job_name
     ,source.email_recipients
     ,source.email_subject
     ,source.send_again
     ,source.stat_count
     ,source.stat_query1
     ,source.stat_query2
     ,source.stat_query3
     ,source.stat_query4
     ,source.stat_label1
     ,source.stat_label2
     ,source.stat_label3
     ,source.stat_label4
     ,source.image_count
     ,source.image_path1
     ,source.image_path2
     ,source.explanatory_text1
     ,source.explanatory_text2
     ,source.explanatory_text3
     ,source.explanatory_text4
     ,source.csv_toggle
     ,source.csv_query
     ,source.table_query1
     ,source.table_query2
     ,source.table_query3
     ,source.table_style1
     ,source.table_style2
     ,source.table_style3
   );

END